<%- include("header") -%>

<div class="container">
  <div>
    <form action="/listName" method="post">
      <label ><h2>Enter Custom List :</h2></label>
      <input class="hello" name="ListName">
      <button type="submit" name="submit">Create</button>
    </form>
  </div>

  <div>
    <form action="/orig" method="post">
      <label><h2>Click here for home route :</h2></label>
      <button type="submit" name="submit">Click</button>
    </form>
  </div>
</div>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% for (let i=0; i<newListItems.length; i++) { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%=newListItems[i]._id%>" onChange="this.form.submit()"><!--//acts like submit button to start post req-->
          <p><%=  newListItems[i].name  %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>">
      </form>
      <% } %> 
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button class="butto" type="submit" name="list" value = "<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
